<div class="bookSearch-outer">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
    <img class="mr-3" src="assets/images/search-icon.png" alt="" width="48" height="48">
    <div class="lh-100">
      <h5 class="mb-0 text-white lh-100">Search Result</h5>
    </div>
  </div>

  <div class="example-container">
    <mat-form-field>
      <!-- selectedValue속성에 양방향 바인딩-->
      <mat-select placeholder="도서종류"  [(ngModel)]="selectedValue">
        <!-- angular 구조적 지시자(DOM을 제어하는 방식)인 ngIf, ngFor 등으로 조건문 처리 가능-->
        <mat-option *ngFor="let category of bookCategory"
                    [value]="category.value">
          {{ category.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <app-step1-search></app-step1-search>
  </div>
  <div>
    <app-step1-detail></app-step1-detail>
  </div>
  <div>
    <app-step1-list></app-step1-list>
  </div>
</div>