<div class="bookSearch-outer">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
    <img class="mr-3" src="assets/images/search-icon.png" alt="" width="48" height="48">
    <div class="lh-100">
      <!--#resultStatus를 참조하여 rendering-->
      <h5 #resultStatus class="mb-0 text-white lh-100">Search Result {{searchTitle}}</h5>
    </div>
  </div>

  <div class="example-container">
    <mat-form-field>
      <!-- selectedValue속성에 양방향 바인딩-->
      <mat-select placeholder="도서종류" #bookCategorySelect [(ngModel)]="selectedValue" (ngModelChange)="changeValue(bookCategorySelect.value)">
        <!-- angular 구조적 지시자(DOM을 제어하는 방식)인 ngIf, ngFor 등으로 조건문 처리 가능-->
        <mat-option *ngFor="let category of bookCategory"
                    [value]="category.value">
          {{ category.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!--자식 component의 객체 접근 하기위한 버튼-->
    <button mat-raised-button color="primary" (click)="clearCondition()">검색 초기화</button>
    <!--자식 component가 rendering하는 view의 Dom에 직접 접근하기 위한 버튼-->
    <button mat-raised-button color="primary" (click)="changeDOM()">DOM 직접 변경</button>
  </div>

  <div>
    <!--
       bookCategory라는 이름으로 displayCategoryName을 바인딩 : property binding : 부 -> 자
       searchEvent 이벤트 발생시 changeTitleBar() 메소드가 인자를 받고 실행됨 : event binding : 자 -> 부 
    -->
    <app-step1-search [bookCategory]="displayCategoryName" [selectedValue]="selectedValue" (searchEvent)="changeTitleBar($event)">
      <!-- content projection : 부모 component가 자식 component에게 특정 template을 전달해 줄 수 있는 기능-->
      <p>Content Projection!</p>
      <p>First Paragraph</p>
      <p>Second Paragraph</p>
    </app-step1-search>
  </div>
  <div>
    <app-step1-detail></app-step1-detail>
  </div>
  <div>
    <app-step1-list></app-step1-list>
  </div>
</div>