<div class="example-container">
  <!-- data binding : Interpolation(단방향 바인딩) -> component에서 선언한 속성을 view에서 사용하는 것, ex) {{value}}-->
  <mat-toolbar class="search-toolbar-style">Search Keyword : {{keyword}}</mat-toolbar>
  <ng-container *ngIf="_bookCategory != null">{{_bookCategory}}</ng-container>
  <mat-form-field>
     <!-- #inputKeyword로 설정해놓으면 #을 제외한 변수이름으로 참조가능--> 
    단방향 바인딩 : <input matInput #inputKeyword placeholder="Search Keyword">
  </mat-form-field>

    <!-- data binding : event binding(단방향 바인딩) -> view의 이벤트로 값변경 ex) (click)="method(value) -> #value"-->
  <button mat-raised-button color="warn"
    (click)="setKeyword(inputKeyword.value)">Search!</button>

  <mat-form-field>
    <!-- [(ngModel)]="value"로 value값과 양방향 바인딩 , (ngModelChange)="func()" 데이터 변경될때 발생할 이벤트-->
    양방향 바인딩 : <input matInput placeholder="Search Keyword" [(ngModel)]="keyword" (ngModelChange)="inputChange()">
  </mat-form-field>

</div>